<!-- <form [formGroup]="trip">
  <div class="row">
    <div class="col-4">
      <mat-form-field appearance="fill" class="w-75">
        <mat-label>من</mat-label>
        <mat-select formControlName="from" required>
          <mat-option *ngFor="let city of cites" [value]="city.cityName">
            {{ city.cityName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-4">
      <mat-form-field appearance="fill" class="w-75">
        <mat-label>الي</mat-label>
        <mat-select formControlName="to" required>
          <mat-option *ngFor="let city of cites" [value]="city.cityName">
            {{ city.cityName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field appearance="fill" class="w-75">
        <mat-label>وقت السفر</mat-label>
        <input
          formControlName="date"
          title="date"
          matInput
          [matDatepicker]="picker"
        />
        <mat-hint>يوم / شهر / سنة</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-12">
      <button mat-flat-button color="primary" (click)="select()">حفظ</button>
    </div>
  </div>
</form> -->
