<div class="row">
  <div class=" seat-size">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-end bg-light">
          <mat-card class="m-1 d-inline card-size rounded-circle text-center">{{
            color[01]
            }}</mat-card>
        </div>

        <div class="d-flex justify-content-between bg-light">
          <div class="d-flex justify-content-start">
            <mat-card [ngClass]="color[01] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(01)">01</mat-card>
            <mat-card [ngClass]="color[02] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(02)">02</mat-card>
          </div>
          <div class="d-flex justify-content-end">
            <mat-card [ngClass]="color[03] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(03)">03</mat-card>
            <mat-card [ngClass]="color[04] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(04)">04</mat-card>
          </div>
        </div>

        <div class="d-flex justify-content-between bg-light">
          <div class="d-flex justify-content-start">
            <mat-card [ngClass]="color[05] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(05)">05</mat-card>
            <mat-card [ngClass]="color[06] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(06)">06</mat-card>
          </div>
          <div class="d-flex justify-content-end">
            <mat-card [ngClass]="color[07] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(07)">07</mat-card>
            <mat-card [ngClass]="color[08] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(08)">08</mat-card>
          </div>
        </div>

        <div class="d-flex justify-content-between bg-light">
          <div class="d-flex justify-content-start">
            <mat-card [ngClass]="color[09] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(09)">09</mat-card>
            <mat-card [ngClass]="color[10] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(10)">10</mat-card>
          </div>
          <div class="d-flex justify-content-end">
            <mat-card [ngClass]="color[11] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(11)">11</mat-card>
            <mat-card [ngClass]="color[12] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(12)">12</mat-card>
          </div>
        </div>

        <div class="d-flex justify-content-between bg-light">
          <div class="d-flex justify-content-start">
            <mat-card [ngClass]="color[13] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(13)">13</mat-card>
            <mat-card [ngClass]="color[14] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(14)">14</mat-card>
          </div>
          <div class="d-flex justify-content-end">
            <mat-card [ngClass]="color[15] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(15)">15</mat-card>
            <mat-card [ngClass]="color[16] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(16)">16</mat-card>
          </div>
        </div>
        <div class="d-flex justify-content-between bg-light">
          <div class="d-flex justify-content-start">
            <mat-card [ngClass]="color[17] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(17)">17</mat-card>
            <mat-card [ngClass]="color[18] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(18)">18</mat-card>
          </div>
          <div class="d-flex justify-content-end">
            <mat-card [ngClass]="color[19] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(19)">19</mat-card>
            <mat-card [ngClass]="color[20] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(20)">20</mat-card>
          </div>
        </div>
        <div class="d-flex justify-content-end bg-light">
          <div class="d-flex justify-content-start">
            <mat-card [ngClass]="color[21] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(21)">21</mat-card>
            <mat-card [ngClass]="color[22] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(22)">22</mat-card>
          </div>
        </div>

        <div class="d-flex justify-content-end bg-light">
          <div class="d-flex justify-content-start">
            <mat-card [ngClass]="color[23] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(23)">23</mat-card>
            <mat-card [ngClass]="color[24] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(24)">24</mat-card>
          </div>
        </div>

        <div class="d-flex justify-content-between bg-light">
          <div class="d-flex justify-content-start">
            <mat-card [ngClass]="color[25] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(25)">25</mat-card>
            <mat-card [ngClass]="color[26] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(26)">26</mat-card>
          </div>
          <div class="d-flex justify-content-end">
            <mat-card [ngClass]="color[27] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(27)">27</mat-card>
            <mat-card [ngClass]="color[28] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(28)">28</mat-card>
          </div>
        </div>

        <div class="d-flex justify-content-between bg-light">
          <div class="d-flex justify-content-start">
            <mat-card [ngClass]="color[29] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(29)">29</mat-card>
            <mat-card [ngClass]="color[30] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(30)">30</mat-card>
          </div>
          <div class="d-flex justify-content-end">
            <mat-card [ngClass]="color[31] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(31)">31</mat-card>
            <mat-card [ngClass]="color[32] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(32)">32</mat-card>
          </div>
        </div>

        <div class="d-flex justify-content-between bg-light">
          <div class="d-flex justify-content-start">
            <mat-card [ngClass]="color[33] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(33)">33</mat-card>
            <mat-card [ngClass]="color[34] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(34)">34</mat-card>
          </div>
          <div class="d-flex justify-content-end">
            <mat-card [ngClass]="color[35] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(35)">35</mat-card>
            <mat-card [ngClass]="color[36] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(36)">36</mat-card>
          </div>
        </div>

        <div class="d-flex justify-content-between bg-light">
          <div class="d-flex justify-content-start">
            <mat-card [ngClass]="color[37] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(37)">37</mat-card>
            <mat-card [ngClass]="color[38] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(38)">38</mat-card>
          </div>
          <div class="d-flex justify-content-end">
            <mat-card [ngClass]="color[39] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(39)">39</mat-card>
            <mat-card [ngClass]="color[40] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(40)">40</mat-card>
          </div>
        </div>

        <div class="d-flex justify-content-between bg-light">
          <div class="d-flex justify-content-start">
            <mat-card [ngClass]="color[41] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(41)">41</mat-card>
            <mat-card [ngClass]="color[42] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(42)">42</mat-card>
          </div>
          <div class="d-flex justify-content-end">
            <mat-card [ngClass]="color[43] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(43)">43</mat-card>
            <mat-card [ngClass]="color[44] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
              (click)="bookChair(44)">44</mat-card>
          </div>
        </div>

        <div class="d-flex justify-content-between bg-light">
          <mat-card [ngClass]="color[45] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
            (click)="bookChair(45)">45</mat-card>
          <mat-card [ngClass]="color[46] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
            (click)="bookChair(46)">46</mat-card>
          <mat-card [ngClass]="color[47] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
            (click)="bookChair(47)">47</mat-card>
          <mat-card [ngClass]="color[48] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
            (click)="bookChair(48)">48</mat-card>
          <mat-card [ngClass]="color[49] ? 'bg-danger' : 'bg-teal'" class="m-1 d-inline card-size text-center"
            (click)="bookChair(49)">49</mat-card>
        </div>
      </div>
    </div>
  </div>
  <div class="col-auto">


    <div>
      <div *ngFor="let chairNumber of bookedChair">
        <div class="">
          <div class="row mb-2">
            <div class="col-8">
              <div>مقعد رقم :{{ chairNumber }}</div>
            </div>
            <div class="col-4">
              <button (click)="removeChair(chairNumber)" [disabled]="btnDisable.value" class="remove-button"
                mat-flat-button color="primary">
                الغاء
              </button>
            </div>
          </div>
        </div>
      </div>
      <button type="button" [disabled]="disabled" mat-flat-button matStepperNext color="primary" (click)="confirm()">
        تاكيد الحجز
      </button>
    </div>
  </div>
</div>