<div class="row">
  <div class="col-12">
    <form [formGroup]="trip">
      <div class="row">
        <div class="col-4">
          <mat-form-field appearance="fill" class="w-75">
            <mat-label>من</mat-label>
            <mat-select formControlName="from" required>
              <mat-option *ngFor="let city of cites" [value]="city.cityName">
                {{ city.cityName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-4">
          <mat-form-field appearance="fill" class="w-75">
            <mat-label>الي</mat-label>
            <mat-select formControlName="to" required>
              <mat-option *ngFor="let city of cites" [value]="city.cityName">
                {{ city.cityName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-12">
          <button [disabled]="
              trip.controls['from'].invalid || trip.controls['to'].invalid
            " type="button" mat-flat-button color="primary" (click)="select()">
            عرض
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-12">
    <div *ngIf="isTrip" class="fs-3 p-3 text-center text-warning">
      لا يوجد رحلات
    </div>

    <div *ngFor="let trip of trips">
      <div class="m-1">
        <mat-card>
          <div class="row p-2">
            <div class="col-3">
              <button (click)="confirmBus(trip)" mat-raised-button type="button" matStepperNext color="primary">
                حجز مقعد
              </button>
            </div>
            <div class="col-9">
              <div class="row">
                <div class="col-4">
                  <div class="row">
                    <div class="col-12 d-flex">
                      <span class="w-50">وفت المغادرة</span>
                      <span class="px-2">:</span>
                      <span>{{ trip.time }}</span>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="col-12 d-flex">
                      <span class="w-50">رقم الاتوبيس</span>
                      <span class="px-2">:</span>
                      <span>{{ trip.busNumber }}</span>
                    </div>
                  </div>
                </div>

                <div class="col-4">
                  <div class="row">
                    <div class="col-12 d-flex">
                      <span class="w-50">المقاعد المتاحة</span>
                      <span class="px-2">:</span>
                      <span>{{ trip.seatsCount }}</span>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="col-12 d-flex">
                      <span class="w-50">السعر</span>
                      <span class="px-2">:</span>
                      <span>{{ trip.price }}</span>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="row">
                    <div class="col-12 d-flex">
                      <span class="w-50">التاريخ</span>
                      <span class="px-2">:</span>
                      <span>{{ trip.date | date}}</span>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="col-12 d-flex">
                      <span class="w-50">رقم الرحلة</span>
                      <span class="px-2">:</span>
                      <span>{{ trip.id}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>