<div class="d-flex justify-content-between nav navbar-dark shadow-sm fixed-top bg-teal px-3 py-2 nav-size">
	<span><a *ngIf="isLoggedIn | async" (click)="open.toggle()" (click)="sideNav = !sideNav"><mat-icon
				class="fs-3 mt-2 text-white ms-3">menu</mat-icon></a>
		<a class="navbar-brand fs-3 pt-2" routerLink="/home">الكسار</a></span>
	<div>
		<button *ngIf="isLoggedIn | async" class="bg-light text-center" title="menu" type="button" mat-icon-button
			[matMenuTriggerFor]="belowMenu">
			<mat-icon class="fs-5 mb-1">logout</mat-icon>
		</button>
	</div>
</div>
<mat-menu #belowMenu="matMenu" yPosition="below">
	<button type="button" mat-menu-item (click)="logout()">تسجيل خروج</button>
</mat-menu>

<div class="container-fluid px-0 ovf">
	<div class="row vh-100 ">
		<div *ngIf="sideNav" class=" side-nav-size bg-teal text-white">
			<mat-list class="text-center pe-2 ">
				<div class="nav-size"></div>
				<mat-icon (click)="changeColor(1)" routerLink="/" class="fs-3 my-2 hand">home</mat-icon>

				<mat-divider></mat-divider>
				<mat-icon (click)="changeColor(2)" routerLink="/reserve"
					class="fs-3 my-2 hand">directions_bus</mat-icon>

				<mat-divider></mat-divider>
				<mat-icon (click)="changeColor(3)" routerLink="/all-trips"
					class="fs-3 my-2 hand">format_list_bulleted</mat-icon>

				<mat-divider></mat-divider>
				<mat-icon (click)="changeColor(4)" routerLink="/settings" class="fs-3 my-2 hand">payments</mat-icon>

				<mat-divider></mat-divider>
				<mat-icon (click)="changeColor(5)" routerLink="/add" class="fs-3 my-2 hand">add</mat-icon>

				<mat-divider></mat-divider>
				<mat-icon (click)="changeColor(6)" routerLink="/bus-info" class="fs-3 my-2 hand">groups</mat-icon>

				<mat-divider></mat-divider>
				<mat-icon (click)="changeColor(7)" routerLink="/invoices-view"
					class="fs-3 my-2 hand">receipt_long</mat-icon>

				<mat-divider></mat-divider>
				<mat-icon (click)="changeColor(8)" routerLink="/ticket-info" class="fs-3 my-2 hand">edit</mat-icon>

				<mat-divider></mat-divider>
				<mat-icon (click)="changeColor(9)" routerLink="/bill-document"
					class="fs-3 my-2 hand">receipt_long</mat-icon>

				<mat-divider></mat-divider>
				<mat-icon (click)="changeColor(10)" routerLink="/auth/register" class="fs-3 my-2 hand">person</mat-icon>

			</mat-list>
		</div>
		<div class="col">
			<mat-drawer-container class="h-100" autosize>
				<mat-drawer class="drawer-size bg-teal text-white ps-2" #open mode="side">
					<mat-list>
						<div class="nav-size"></div>
						<mat-list-item (click)="changeColor(1)" class="hand btn1 text-white" routerLink="/">
							<mat-icon class="ms-1">home</mat-icon><span class="ms-3">الصفحة الرئيسية</span>
						</mat-list-item>
						<mat-divider></mat-divider>
						<mat-list-item (click)="changeColor(2)" class="hand btn2 text-white" routerLink="/reserve">
							<mat-icon class="ms-1">directions_bus</mat-icon><span class="ms-3">حجز رحلة</span>
						</mat-list-item>
						<mat-divider></mat-divider>
						<mat-list-item (click)="changeColor(3)" class="hand btn3 text-white" routerLink="/all-trips">
							<mat-icon class="ms-1">format_list_bulleted</mat-icon><span class="ms-3">الرحلات</span>
						</mat-list-item>
						<mat-divider></mat-divider>
						<mat-list-item (click)="changeColor(4)" class="hand btn4 text-white" routerLink="/settings">
							<mat-icon class="ms-1">payments</mat-icon><span class="ms-3">الحسابات</span>
						</mat-list-item>
						<mat-divider></mat-divider>
						<mat-list-item (click)="changeColor(5)" class="hand btn5 text-white" routerLink="/add">
							<mat-icon class="ms-1">add</mat-icon><span class="ms-3">اضافة رحلات</span>
						</mat-list-item>
						<mat-divider></mat-divider>
						<mat-list-item (click)="changeColor(6)" class="hand btn6 text-white" routerLink="/bus-info">
							<mat-icon class="ms-1">groups</mat-icon><span class="ms-3">بيانات العملاء</span>
						</mat-list-item>
						<mat-divider></mat-divider>
						<mat-list-item (click)="changeColor(7)" class="hand btn7 text-white"
							routerLink="/invoices-view">
							<mat-icon class="ms-1">receipt_long</mat-icon><span class="ms-3">عرض التذاكر</span>
						</mat-list-item>
						<mat-divider></mat-divider>
						<mat-list-item (click)="changeColor(8)" class="hand btn8 text-white" routerLink="/ticket-info">
							<mat-icon class="ms-1">edit</mat-icon><span class="ms-3">بيانات التذكرة</span>
						</mat-list-item>
						<mat-divider></mat-divider>
						<mat-list-item (click)="changeColor(9)" class="hand btn9 text-white"
							routerLink="/bill-document">
							<mat-icon class="ms-1">receipt_long</mat-icon><span class="ms-3">سند قبض</span>
						</mat-list-item>
						<mat-divider></mat-divider>
						<mat-list-item (click)="changeColor(10)" class="hand btn10 text-white"
							routerLink="/auth/register">
							<mat-icon class="ms-1">person</mat-icon><span class="ms-3">تسجيل مستخدم جديد</span>
						</mat-list-item>

					</mat-list>
				</mat-drawer>
				<mat-drawer-content>
					<div class="nav-size"></div>
					<router-outlet></router-outlet>
				</mat-drawer-content>
			</mat-drawer-container>
		</div>
	</div>
</div>