<div class="container-fluid">
    <div class="row justify-content-center">
        <mat-card class="col-9 mb-1 mt-1">
            <mat-stepper linear #stepper>
                <mat-step [stepControl]="availableBusesComponent.trip" label="الاتوبيسات المتاحة">
                    <div class="container-fluid">
                        <div class="p-3 overflow-auto form-size">
                            <app-available-buses #availableBusesComponent></app-available-buses>
                        </div>
                    </div>
                </mat-step>

                <mat-step label="حجز مقعد">
                    <ng-template matStepContent>
                        <div class="p-3 row">
                            <div class="col-12">
                                <app-book-seat></app-book-seat>
                            </div>
                            <div class="col-12 pt-2">
                                <button type="button" mat-button matStepperPrevious color="accent">
                                    رجوع
                                </button>
                            </div>
                        </div>
                    </ng-template>
                </mat-step>

                <mat-step label="التفاصيل">
                    <ng-template matStepContent>
                        <div class="p-3 row">
                            <div class="col-12">
                                <app-details></app-details>
                            </div>
                            <div class="col-12 pt-2">
                                <button type="button" mat-button matStepperPrevious color="accent">
                                    رجوع
                                </button>
                            </div>
                        </div>
                    </ng-template>
                </mat-step>

            </mat-stepper>
        </mat-card>
    </div>
</div>