<div class="container p-5">
    <form (ngSubmit)="addBillDocument()" [formGroup]="billDocument">

        <div class="row">
            <div class="col-4">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>اختار التاريخ</mat-label>
                    <input formControlName="date" placeholder="التاريخ" matInput [matDatepicker]="picker" />

                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>اسم المستلم</mat-label>
                    <input formControlName="name" type="text" matInput placeholder="اسم المستلم" />
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>المبلغ</mat-label>
                    <input min="0" formControlName="price" type="number" matInput placeholder="المبلغ" />
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>عدد الاتوبيسات</mat-label>
                    <input min="0" formControlName="count" type="number" matInput placeholder="عدد الاتوبيسات" />
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>من</mat-label>
                    <input formControlName="from" type="text" matInput placeholder="من" />
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>الي</mat-label>
                    <input formControlName="to" type="text" matInput placeholder="الي" />
                </mat-form-field>
            </div>


            <div class="col-md-4 text-right">
                <button [disabled]="!billDocument.valid" type="submit" mat-flat-button color="primary" class="mb-3">
                    طباعة<mat-icon class="me-1">print</mat-icon>
                </button>
            </div>
        </div>
    </form>
</div>