<mat-grid-list cols="9" class="mt-5" gutterSize="20px" rowHeight="150px">
  <mat-grid-tile colspan="3" class="bg-info rounded-3 shadow-sm fs-2 text-white hand" routerLink="/reserve">


    حجز رحلة </mat-grid-tile>
  <mat-grid-tile colspan="3" class="bg-info rounded-3 shadow-sm fs-2 text-white hand" routerLink="/all-trips">
    الرحلات</mat-grid-tile>
  <mat-grid-tile colspan="3" class="bg-info rounded-3 shadow-sm fs-2 text-white hand" routerLink="/settings">
    الحسابات</mat-grid-tile>
  <mat-grid-tile colspan="3" class="bg-info rounded-3 shadow-sm fs-2 text-white hand" routerLink="/add">
    اضافة رحلات</mat-grid-tile>
  <mat-grid-tile colspan="3" class="bg-info rounded-3 shadow-sm fs-2 text-white hand" routerLink="/bus-info">
    بيانات العملاء</mat-grid-tile>
  <mat-grid-tile colspan="3" class="bg-info rounded-3 shadow-sm fs-2 text-white hand" routerLink="/invoices-view">
    عرض التذاكر</mat-grid-tile>
  <mat-grid-tile colspan="3" class="bg-info rounded-3 shadow-sm fs-2 text-white hand" routerLink="/ticket-info">
    بيانات التذاكر</mat-grid-tile>
  <mat-grid-tile colspan="3" class="bg-info rounded-3 shadow-sm fs-2 text-white hand" routerLink="/bill-document">
    سند قبض</mat-grid-tile>
  <mat-grid-tile colspan="3" class="bg-info rounded-3 shadow-sm fs-2 text-white hand" routerLink="/auth/register">
    تسجيل مستخدم جديد</mat-grid-tile>
</mat-grid-list>