<mat-grid-list cols="9" class="mt-5" gutterSize="20px" rowHeight="150px">
  <mat-grid-tile colspan="3" class="bg-info rounded-3 shadow-sm fs-2 text-white hand dashboard-button"
    routerLink="/reserve">


    حجز رحلة </mat-grid-tile>
  <mat-grid-tile colspan="3" class="bg-info rounded-3 shadow-sm fs-2 text-white hand dashboard-button"
    routerLink="/all-trips">
    الرحلات</mat-grid-tile>
  <mat-grid-tile colspan="3" class="bg-info rounded-3 shadow-sm fs-2 text-white hand dashboard-button"
    routerLink="/settings">
    الحسابات</mat-grid-tile>
  <mat-grid-tile colspan="3" class="bg-info rounded-3 shadow-sm fs-2 text-white hand dashboard-button"
    routerLink="/add">
    اضافة رحلات</mat-grid-tile>
  <mat-grid-tile colspan="3" class="bg-info rounded-3 shadow-sm fs-2 text-white hand dashboard-button"
    routerLink="/bus-info">
    بيانات العملاء</mat-grid-tile>
  <mat-grid-tile colspan="3" class="bg-info rounded-3 shadow-sm fs-2 text-white hand dashboard-button"
    routerLink="/invoices-view">
    عرض التذاكر</mat-grid-tile>
  <mat-grid-tile colspan="3" class="bg-info rounded-3 shadow-sm fs-2 text-white hand dashboard-button"
    routerLink="/ticket-info">
    بيانات التذاكر</mat-grid-tile>
  <mat-grid-tile colspan="3" class="bg-info rounded-3 shadow-sm fs-2 text-white hand dashboard-button"
    routerLink="/bill-document">
    سند قبض</mat-grid-tile>
  <mat-grid-tile colspan="3" class="bg-info rounded-3 shadow-sm fs-2 text-white hand dashboard-button"
    routerLink="/auth/register">
    تسجيل مستخدم جديد</mat-grid-tile>
</mat-grid-list>
