<div class="p-5 bg-light">

  <form [formGroup]="billDocument" (ngSubmit)="filterBillDocument()">
    <div class="row justify-content-center my-2">
      <div class="col-2">
        <button [disabled]="!billDocument.valid" class="w-100 mt-2" type="submit" mat-flat-button
          color="primary">بحث</button>
      </div>
      <div class="col-3">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>من</mat-label>
          <input formControlName="from" placeholder="من" matInput [matDatepicker]="fromPicker" />

          <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
          <mat-datepicker #fromPicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>الي</mat-label>
          <input formControlName="to" placeholder="الي" matInput [matDatepicker]="toPicker" />

          <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
          <mat-datepicker #toPicker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </form>

  <div *ngFor="let trip of trips">
    <div class="m-1">
      <mat-card class="w-75 mx-auto">
        <div class="row p-2">
          <div class="col-12">
            <div class="row">
              <div class="col-4">
                <div class="row">
                  <div class="col-12 d-flex">
                    <span class="w-50">وفت المغادرة</span>
                    <span class="px-2">:</span>
                    <span>{{ trip.time }}</span>
                  </div>
                  <mat-divider class="my-1"></mat-divider>
                  <div class="col-12 d-flex">
                    <span class="w-50">رقم الاتوبيس</span>
                    <span class="px-2">:</span>
                    <span>{{ trip.busNumber }}</span>
                  </div>
                  <mat-divider class="my-1"></mat-divider>
                </div>
              </div>

              <div class="col-4">
                <div class="row">
                  <div class="col-12 d-flex">
                    <span class="w-50">المقاعد المتاحة</span>
                    <span class="px-2">:</span>
                    <span>{{ trip.seatsCount }}</span>
                  </div>
                  <mat-divider class="my-1"></mat-divider>
                  <div class="col-12 d-flex">
                    <span class="w-50">السعر</span>
                    <span class="px-2">:</span>
                    <span>{{ trip.price }}</span>
                  </div>
                  <mat-divider class="my-1"></mat-divider>
                </div>
              </div>
              <div class="col-4">
                <div class="row">
                  <div class="col-12 d-flex">
                    <span class="w-50">التاريخ</span>
                    <span class="px-2">:</span>
                    <span>{{ trip.date |date }}</span>
                  </div>
                  <mat-divider class="my-1"></mat-divider>
                  <div class="col-12 d-flex">
                    <span class="w-50">رقم الرحلة</span>
                    <span class="px-2">:</span>
                    <span>{{ trip.id }}</span>
                  </div>
                  <mat-divider class="my-1"></mat-divider>
                </div>
              </div>
              <div class="col-4">
                <div class="row">

                  <div class="col-12 d-flex">
                    <span class="w-50">من</span>
                    <span class="px-2">:</span>
                    <span>{{ trip.from}}</span>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="row">

                  <div class="col-12 d-flex">
                    <span class="w-50">الي</span>
                    <span class="px-2">:</span>
                    <span>{{ trip.to}}</span>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="row">

                  <div class="col-12 d-flex">
                    <span class="w-50">الموافق</span>
                    <span class="px-2">:</span>
                    <span>{{day(trip.date)}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>