<div class="row">
  <div class="col-4">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>نوع الغرفة</mat-label>
      <mat-select [(ngModel)]="roomType">
        <mat-option value="بدون">بدون</mat-option>
        <mat-option value="غرفة مفردة">غرفة مفردة</mat-option>
        <mat-option value="غرفة مزدوجة">غرفة مزدوجة</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-4">

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>عدد الغرف</mat-label>
      <input [(ngModel)]="roomCount" matInput placeholder="عدد الغرف" />
    </mat-form-field>
  </div>
  <div class="col-4">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>سعر الغرفة</mat-label>
      <input [(ngModel)]="roomCost" matInput placeholder="سعر الغرفة" />
    </mat-form-field>
  </div>

  <div class="col-12">
    <form [formGroup]="details" (ngSubmit)="submit()">
      <div formArrayName="person" *ngFor="let item of person.controls; let i = index">

        <div [formGroupName]="i" class="row">
          <div class="col-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>الاسم بالكامل</mat-label>
              <input formControlName="fullName" matInput placeholder="الاسم بالكامل" />
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>رقم الهاتف</mat-label>
              <input formControlName="mobile" matInput placeholder="رقم الهاتف" type="number" min="0" />
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>رقم الاقامة</mat-label>
              <input type="number" min="0" formControlName="idNumber" matInput placeholder="رقم الاقامة" />
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>الجنسية</mat-label>
              <input type="text" formControlName="nationality" matInput placeholder="الجنسية" />
            </mat-form-field>
          </div>
          <mat-divider class="pb-3"></mat-divider>

        </div>
      </div>
      <button [disabled]="details.controls['person'].invalid" type="submit" mat-flat-button color="primary">
        حفظ و طباعة<mat-icon class="me-1 ">print</mat-icon>
      </button>
    </form>
  </div>


</div>