<form [formGroup]="details" (ngSubmit)="submit()">
  <div class="row">
    <div class="col-12">
      <div
        formArrayName="person"
        *ngFor="let item of person.controls; let i = index"
      >
        <div [formGroupName]="i" class="row">
          <div class="col-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>الاسم بالكامل</mat-label>
              <input
                formControlName="fullName"
                matInput
                placeholder="الاسم بالكامل"
              />
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>رقم الهاتف</mat-label>
              <input
                formControlName="mobile"
                matInput
                placeholder="رقم الهاتف"
              />
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>رقم الاقامة</mat-label>
              <input
                formControlName="idNumber"
                matInput
                placeholder="رقم الاقامة"
              />
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>الجنسية</mat-label>
              <input
                formControlName="nationality"
                matInput
                placeholder="رقم الاقامة"
              />
            </mat-form-field>
          </div>
          <mat-divider class="pb-3"></mat-divider>
        </div>
      </div>
    </div>
    <div class="col-12">
      <button
        matStepperNext
        type="submit"
        mat-flat-button
        color="primary"
        style="width: 150px"
      >
        حفظ
      </button>
    </div>
  </div>
</form>
