// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

@use "@angular/material" as mat;
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$booking_bus-primary: mat.define-palette(mat.$teal-palette);
$booking_bus-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$booking_bus-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$booking_bus-theme: mat.define-light-theme(
  (
    color: (
      primary: $booking_bus-primary,
      accent: $booking_bus-accent,
      warn: $booking_bus-warn,
    ),
  )
);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($booking_bus-theme);
@import "https://fonts.googleapis.com/css2?family=Amiri&family=Cairo&display=swap";

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Amiri", serif;
  font-family: "Cairo", sans-serif;
}
.bg-teal {
  background-color: teal;
}
* {
  direction: rtl;
}
a {
  cursor: pointer;
}
.hand {
  cursor: pointer;
}
.-bg-primary {
  background-color: mat.get-color-from-palette(
    $booking_bus-primary,
    500
  ) !important;
}
.-text-primary {
  color: mat.get-color-from-palette($booking_bus-primary, 500) !important;
}
.dashboard-button {
  background-color: #4cb6b6;
}
